@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Ubuntu:400,500,700");
body {
  margin: 0;
  font-family: "Ubuntu";
}

.title {
  font-family: "Ubuntu";
  font-size: 2.4rem;
  text-align: center;
  color: #1e629f;
}

.Explain {
  background-color: #FAFAFA;
}

.Explain__text--blue {
  color: #3E629B;
}

.Explain__title {
  color: #1e629f;
}

.Services {
  background: url("bg.ab76f0e8.jpeg") fixed no-repeat;
  background-size: cover;
}

.Services__item {
  cursor: pointer;
}

.Services__box--title {
  font-size: 2rem;
  color: #1e629f;
}

.Services__box--text,
.Services__text {
  color: #1e629f;
}

.Services-img {
  width: 100px;
}

.Number {
  background: #FAFAFA;
}

.Number__title {
  font-size: 2rem;
  margin: 50px;
  color: #1e629f;
}

.Number__box {
  border: 1px solid white;
  padding: 20px 100px;
  border-radius: 10px;
  box-shadow: 2px 5px 50px grey;
  margin-bottom: 50px;
}

.Number__box-count {
  font-size: 3rem;
}

.Number__box-count--isPurple {
  color: #927eec;
}

.Number__box-count--isBlue {
  color: #1e629f;
}

.Number__box-count--isGreen {
  color: #6de8d7;
}

.Number__box-text {
  color: #1e629f;
}

.Customer {
  background-color: #ecf0f1;
  height: 100%;
}

.Customer__title {
  color: #1e629f;
  font-size: 1.6rem;
}

.Customer__picture {
  width: 100px;
}

.Customer__item {
  background-color: white;
  box-shadow: 2px 5px 50px grey;
}

.Customer__name {
  margin-left: 10px;
  color: #1e629f;
}

.Customer__title--bright {
  color: #1e629f;
  text-decoration: none;
  background-color: yellow;
}

.Questions__title--text {
  color: #1e629f;
  font-size: 1.6rem;
}

.banner {
  background-color: #ecf0f1;
  padding: 100px;
}

.Questions-bright {
  color: #1e629f;
  text-decoration: none;
  background-color: yellow;
}

.footer {
  background-color: #505050;
}